.service-box
{
	button
	{
		margin-top: 20px;
	}
    img
    {
        width: 128px;
        height: 128px;
    }
    .collapse
    {
        margin-top:20px;
    }
}

#services
{
	padding: 40px;
	.primary
	{
		margin-top: 50px;
	}
}
