<?xml version="1.0" encoding="UTF-8"?>
<settings

nameText="Danny Willems"
taglineText="C, Java, Python Developer. Beginning in web and Android development"
mainText="NEW WEBSITE COMING SOON"

useOwnLogo="false"
logoFilePath="logo.png"

nameColor="0xffffff"
taglineColor="0xffffff"
mainColor="0xffffff"
linkColor="0xffffff"
linkRollOverColor="0xff4400"
linkRollOverBlurAmount="5"

backgroundColor="0x000000"
backgroundGradientColor1="0x9C1717"
backgroundGradientColor2="0x2E0808"
backgroundGradientAlphaPercent="40"

borderColor="0xffffff"
borderThickness="10"

ownLogoXOffset="3"
taglineXOffset="2"
taglineYOffset="-9"
mainXOffset="-2"
linkXOffset="2"

introBlurAmount="20"
siteRotation="0"

>

<link text="contact@danny-willems.be" url="mailto:contact@danny-willems.be" />
</settings>
